.DS_Store
log/*.log
tmp/**/*
public/*.xml.gz
public/images/captchas/*
config/database.yml
config/mailer.yml
config/exception_notifer.yml
config/website_config.yml
config/micro_feed.yml
config/newrelic.yml
config/deploy.rb
db/*.sqlite3
