<% content_for :sidebar do %>
	<%= render :partial => "/jobs/sidebar" %>
<% end %>
<div class="box">
	<div>
		<div class="title">
			<h2>
				<%= link_to image_tag('feed.png'), jobs_url(stripped_params(:format => :rss)), :title => "Subskrybuj wyszukiwanie", :class => "feed" %>
				<%= render_title_from_params(@page_title) %>
			</h2>
		</div>
		<%= render :partial => "jobs", :object => @jobs %>
	</div>
</div>