<% content_for :sidebar do %>
	<%= render :partial => "/jobs/sidebar" %>
<% end %>
<div class="box">
	<div>
		<div class="title">
			<h2><span>oferty</span> pracy</h2>
		</div>
		<%= render :partial => "jobs", :object => @jobs %>
	</div>
</div>