body {
  margin: 0;
  padding: 0;
  font: 12px Arial;
  color: #393733;
  overflow: auto;
}
h1, h2, h3, h4 { margin: 0 0 5px 0; }
a {
  color: #31627e;
  cursor: pointer;
  outline: none !important;
  text-decoration: none;
}
a:hover { color: #ff5917; }
a:focus { color: #ff5917; }
a img { border: 0; }
table {
  border-collapse: collapse;
  border: 1px solid #cccccc;
  width: 100%;
}
td, th {
  font-size: 11px;
  border-bottom: 1px solid #eeeeee;
  padding: 5px;
}
th {
  text-align: left;
  font-size: 12px;
}
thead th {
  font-weight: bold;
  color: #666666;
  padding: 2px 5px;
  font-size: 11px;
  background: #e1e1e1 url(/images/nav-bg.gif) top left repeat-x;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
thead th:first-child { border-left: none !important; }
thead th.optional { font-weight: normal !important; }
tr.alt { background: #f6f6f6; }
#job_price_from, #job_price_to {
  width: 50px;
  text-align: right;
}
#job_captcha_image {
  margin-bottom: -22px;
  margin-right: 10px;
}
#job_captcha_solution { width: 200px; }
.reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text_center { text-align: center; }
.text_right { text-align: right; }
.clear { clear: both; }
.info {
  text-align: center;
  color: #dddddd;
  font-size: 28px;
  font-weight: bold;
}
.loader {
  background: transparent url('/images/ajax.gif') no-repeat center center;
  height: 20px;
  display: none;
}
.right { float: right; }
.left { float: left; }
.flash_notice {
  background: #a4e1a2 url('../images/icon-success.png') 20px center no-repeat;
  color: #094808;
  text-shadow: #c0fde3 0px 1px 0px;
  border: 1px solid #dde3d7;
}
.flash_error, .flash_notice {
  margin: 0 0 10px 0;
  font-size: 18px;
  padding: 10px 60px;
  opacity: 0.9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.flash_error {
  background: #af2b2b url('../images/icon-error.png') 20px center no-repeat;
  color: #ffffff;
  border: 1px solid #da3536;
  text-shadow: #000000 0px 1px 0px;
}
.button {
  background: #5b74a8 url('../images/button.png') repeat-x 0px -48px;
  border: 1px solid #ffffff;
  border-color: #26446e #152f5f #0c2253;
  display: inline-block;
  outline: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117188) 0px 1px 0px;
}
.button > input[type="button"] {
  border: none;
  line-height: 23px;
  height: 23px;
  padding: 0 10px;
  color: #ffffff;
  text-shadow: #3e5a88 0px 1px 0px;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  cursor: default;
  background: transparent;
}
.button > input[type="submit"] {
  border: none;
  line-height: 23px;
  height: 23px;
  padding: 0 10px;
  color: #ffffff;
  text-shadow: #3e5a88 0px 1px 0px;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  cursor: default;
  background: transparent;
}
.button > a {
  border: none;
  line-height: 23px;
  height: 23px;
  padding: 0 10px;
  color: #ffffff;
  text-shadow: #3e5a88 0px 1px 0px;
  font-weight: bold;
  text-decoration: none;
  font-size: 11px;
  cursor: default;
  background: transparent;
}
.button:active {
  background-color: #516899;
  background-image: none;
}
.button img {
  margin-bottom: -4px;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.button.special {
  background-color: #69a74e !important;
  background-position: 0px -96px !important;
  border-color: #386f24 #236013 #16540a !important;
  text-shadow: #4d8835 0px 1px 0px !important;
}
.button.special:active {
  background-color: #609946 !important;
  background-image: none;
}
.button.white {
  background-color: #dddddd !important;
  border-color: #999999 !important;
  background-position: 0px 0px !important;
}
.button.white > a {
  color: #333333 !important;
  text-shadow: none !important;
}
.button.white > input[type="submit"] {
  color: #333333 !important;
  text-shadow: none !important;
}
.button.right { float: right; }
select { min-width: 150px; }
input[type="text"], input[type="password"], textarea {
  padding: 4px 3px !important;
  border: 1px solid #96a6c5;
  color: #000000;
}
textarea {
  height: 200px;
  min-height: 200px;
}
input[type="text"]:focus {
  background-color: #e6f7ff;
  border-bottom: 1px solid #7faeff;
  border-right: 1px solid #7faeff;
  border-left: 1px solid #4478a8;
  border-top: 1px solid #4478a8;
}
input[type="password"]:focus {
  background-color: #e6f7ff;
  border-bottom: 1px solid #7faeff;
  border-right: 1px solid #7faeff;
  border-left: 1px solid #4478a8;
  border-top: 1px solid #4478a8;
}
textarea:focus {
  background-color: #e6f7ff;
  border-bottom: 1px solid #7faeff;
  border-right: 1px solid #7faeff;
  border-left: 1px solid #4478a8;
  border-top: 1px solid #4478a8;
}
form > fieldset {
  border: 2px solid #dddddd !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px !important;
  margin: 10px 5px !important;
}
form > fieldset > legend {
  font-weight: bold;
  padding: 0 15px 0px 0 !important;
  margin-left: -22px !important;
  background: #ffffff;
  font-size: 16px;
  color: #333333 !important;
}
fieldset > h2 {
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #dddddd;
}
form h2 {
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #dddddd;
}
h3 {
  font-size: 14px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid #dddddd;
}
.wrapper {
  margin: 20px auto;
  width: 800px;
  min-height: 400px;
}
.jobs {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
.jobs > li {
  clear: both;
  padding: 5px;
}
.jobs > .alt { background: #f6f6f6; }
.jobs > li > .ranked { font-weight: bold; }
.jobs > li > .date {
  font-size: 11px;
  font-style: italic;
  color: #7c7c7c;
}
.etykieta {
  display: block;
  float: left;
  font-size: 10px;
  margin-right: 5px;
  margin-top: -2px;
  text-align: center;
  width: 70px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 3px;
  color: #ffffff;
}
.etykieta.zdalnie {
  background: #357ccb;
  border: 1px solid #2c6ab0;
}
.etykieta.zlecenie {
  background: #f8854e;
  border: 1px solid #d27244;
}
.etykieta.etat {
  background: #408000;
  border: 1px solid #366e01;
}
.etykieta.praktyka {
  background: #ffff66;
  border: 1px solid #e2e25c;
  color: #31627e;
}
.etykieta.wolontariat {
  background: #d6d6d6;
  border: 1px solid #b1b1b1;
  color: #31627e;
}
