<div class="box">
	<div>
		<div class="title">
			<h2><%= t('500.title') %></h2>
		</div>
		<div class="text_center">
			<img src="/images/500.jpeg" width="500" height="416" alt="500" />
		</div>
	</div>
</div>

