<div class="box">
	<div>
		<div class="title">
			<h2>Nie znaleziono strony!</h2>
		</div>
		<div class="text_center">
			<img src="/images/404.jpeg" width="440" height="358" alt="404" />
		</div>
	</div>
</div>
