<% title "Gadżet z ofertami na stronę WWW" %>
<div class="box">
	<div>
		<div class="title">
			<h2>Konfiguruj</h2>
		</div>
		
		
	</div>
</div>

<div class="box">
	<div>
		<div class="title mini">
			<h3>Podgląd</h3>
		</div>


		<script type="text/javascript" charset="utf-8" src="http://0.0.0.0:3000/widget"></script>
	</div>
</div>